- name: Set up Python
  uses: actions/setup-python@v5
  with:
    python-version: '3.x'

- name: Install MkDocs and MkDocs Material
  run: |
    python -m pip install --upgrade pip
    pip install mkdocs mkdocs-material
